<div class="row">
    <div class="col-12">
        <div class="signin text-right">
           <button>Signin</button>
        </div>
    </div>
    <div class="col-6">
        <div class="ourbrand p-2">
            branding
        </div>
    </div>
    <div class="col-6">
        title
    </div>
</div>
<div class="row detailgroup mt-5">
    <% [1,2,3,4,5,6,7,8,9,10,11].forEach(function(el){ %>
        <div class="col-6 col-lg-3 p-2">
            <div class="eachgroup">
                <a href="/detail/1">
                    <img class="groupimgtop" src="/images/ex1.jpg" alt="Card image cap">
                    <div class="groupinfo m-3">
                    <h5 class="grouptitle">Sui Bear</h5>
                    <p class="grouptext t7">detail</p>
                    </div>
                </a>
            </div>
        </div>
    <% }); %>
</div>